
<footer>
    <div class="footerflex">
      <div class="copyright">
        Mubashir Iqbal Gurmani
      </div>
      <div class="sociallinks">
        <ul class="footul">
          <li>
            <a href="https://www.facebook.com/mubshr07" target="_blank"><i class="fa fa-facebook-square"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/mubashir-iqbal-220195195/" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/Mubshr07" target="_blank"><i class="fa fa-github-square"></i></a>
          </li>
          <li>
            <a href="mailto:mubshr07@gmail.com" target="_blank"><i class="fa fa-envelope-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
